footer a:hover{
    color: cyan;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background-image: url("../images/crystals.jpg");
    background-size: cover;
    z-index: 10001;
}

footer a{
    color: aliceblue;
}
