</div>
    <footer class="footer text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="btn btn-default" href="mailto:Adolphe.munyankumburwa@student.ehb.be">
            Mail us to say hello!
        </a>
    </footer>

    <!-- jQuery CDN -->
    <script src="js/jquery-3.3.1.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/home.js"></script>
    
</body>
</html>
